h1{
    font-size: 96px;
}
h2{
    font-size:  64px;
}
p{
font-size: 16px;
font-weight: normal;
line-height: 30px;
}
.hero {
    background: #f9f7fe;
    text-align: center;
    padding: 160px 0;
}
.hero p{
    font-size: 36px;
    font-weight: bold;
}
.hero h2{
    font-weight: normal;
    font-size: 24px;
}
.btn-primary {
    background-color: #6c63ff;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}
.btn-branding-outline{
    border: 2px solid #6c63ff;
    padding: 10px 20px;
    color: #6c63ff;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}
.project-description{
    padding: 20px;
    background: #f9f7fe;
    border: 1px solid #eee;
    border-radius: 5px;
}
.about-section h1{
font-size: 64px;
line-height: 80px;
}
.about-section h2{
    font-size: 18px;
}
.about section{
    padding: 160px 20px;
    text-align: center;
}
.about-section-content{
    margin: 30px 0;
}

@media (max-width: 900px) {
   .project-description{
    padding: 0;
    text-align: center;
    image-resolution: high;
   }
    }

.about section{
    padding: 160px 20px;
    text-align: center;
}